@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	padding-top: 75px;
	background: #EEE;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	padding: 1rem;
	color: white;
    background: #62546b;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1, p {
	margin: 0;
}

main {
	padding: 1rem;
	height: 100%;  
}

footer{
	background-color: #ddedd2;
	bottom: 0;
	left: 0;
	margin: 30px auto;
	border: 3px dotted #000000;
	padding: 20px;
	width: 100%;
	height: 60px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
tr {
	height: 30px;
}
th,td {
	padding: 6px 15px;
}
th {
  background: #42444e;
  color:#79e710;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}


.spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #3f3d3db7;
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
}
.spinner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid #e0e0e0;
	border-bottom: 5px solid #a22eb3;
	animation: spin 1s linear infinite;
	position: relative;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
