<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{framework/layout/mainLayOut}">
<head>
	<title>게시판 목록</title>
</head>
<th:block layout:fragment="script">
	<script>

	$(function() {
		//XSS 처리를 위한 방법. 서버에서 처리해서 th:text로 해도 되고. thymeleaf가 아닐경우 escape이 자동 처리 되지 않으면 아래와 같이 처리
		$("[id^='descripTd']").each(function() {
//			console.log($(this).text());
			$(this).text(gfn_changeXSS($(this).text()));
		});
		$("[id^='titleTd']").each(function() {
//			console.log($(this).text());
			$(this).text(gfn_changeXSS($(this).text()));
		});
		
		//nowPage가 시작. 최대 5개까지만 보여주기.
		gfn_makePaging('[[${nowPage}]]','[[${resultTotalCnt}]]', '[[${pageListCnt}]]','paging','searchList');
		console.log('document.onload()');
	})
	
	function searchList(pageIndex) {
		$("#nowPage").val(pageIndex);
		$("#mainForm").attr("action", "/board/boardList.do");
		gfn_submit('mainForm');
	}

	function editBoard(seq) {
		$("#seq").val(seq);
		$("#mainForm").attr("action", "/board/boardEdit.do");
		gfn_submit('mainForm');
	}

	</script>
</th:block>

	<div layout:fragment="content">
		<form action="/board/boardList.do" method="post" id="mainForm" name="mainForm" onsubmit="return false">
		<input type="hidden" name="seq" id="seq" value="" >
		<input type="hidden" name="nowPage" id="nowPage" th:value="${nowPage}" >
		<div>
			<h1>[[${categoryNm}]] 게시판[[${category}]]</h1>
			<select name="category" id="category">
				<option value="" th:selected="category == ''">게시판종류</option>
				<option value="BASE" th:selected="${category == 'BASE'}">기본</option>
				<option value="NOTICE" th:selected="${category == 'NOTICE'}">공지</option>
<!-- /*
        <option th:each="categoryOne: ${categories}" th:value="${categoryOne.id}" th:text="${categoryOne.name}"
                th:selected="${item.category != null && item.category.id == categoryOne.id}">category name</option>
 */ -->
			</select>
			<input name="title" id="title" th:value="${title}" placeholder="제목" onkeyup="if(window.event.keyCode==13){gfn_submit('mainForm')}">
			<button type="button" id="s1" onclick="javascript:searchList('1');"><span><strong>조회</strong></span></button>
			<button type="button" id="s2" onclick="javascript:editBoard();"><span><strong>등록</strong></span></button>
		</div>
		<div>
			<h4>총 [[${resultTotalCnt}]]건</h4>
       		<table id="listTable">
       			<colgroup>
       				<col width="5%"/>
       				<col width="15%"/>
       				<col width="20%"/>
       				<col width="20%"/>
       				<col width="10%"/>
       				<col width="10%"/>
       				<col width="10%"/>
       				<col width="10%"/>
       			</colgroup>
       			<tr>
       				<th align="center">순번</th>
       				<th align="center">게시판종류</th>
       				<th align="center">제목</th>
       				<th align="center">내용</th>
       				<th align="center">등록자</th>
       				<th align="center">댓글수</th>
       				<th align="center">첨부파일</th>
       				<th align="center">변경일</th>
       			</tr>
				<tr th:each="rowData:${resultList}">
					<td th:text="${rowData.SEQ}"></td>
					<td th:text="${rowData.CODE_NAME}"></td>
					<td ><a href="#" th:onclick="'javascript:editBoard('+ ${rowData.SEQ} + ');return false;'" th:text="${rowData.TITLE}"  th:id="'titleTd'+${rowDataStat.index}"></a></td>
					<td th:text="${rowData.BODY_TEXT}" th:id="'descripTd'+${rowDataStat.index}"></td>
					<td th:text="${rowData.CNG_USER_NO}"></td>
					<td th:text="${rowData.COMMENT_CNT}"></td>
					<td th:text="${rowData.FILE_INFO}"></td>
					<td th:text="${rowData.CNG_DT}"></td>
				</tr>
			</table>		
		</div>
       	<div id="paging" ></div>
		</form>
	</div>
</html>