<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{framework/layout/mainLayOut}">
<head>
	<title>게시판 상세/수정</title>
</head>

<th:block layout:fragment="script">
	<script th:inline="javascript">

	const saveData = () => {

	}	

	const updateData = () => {

	}	

	const fileDown = (seq, fileSeq, fileName) => {
		console.log(seq+'='+fileSeq+'='+fileName);
		$.ajax({
			type : 'GET',
			url : '/board/blobFiledown.do',
			data : { 'seq':seq,'fileSeq':fileSeq },
			xhrFields: {
				responseType: "blob",
			},
			success : function(result) {
				//The file at 'url주소' was loaded over an insecure connection. This file should be served over HTTPS. 이런 에러가 나는데 다운로드에는 상관 없음. 보안 이슈라는데 이미 받은 파일인데 왜?
				const url = window.URL.createObjectURL(result);
	            const link = document.createElement('a');
	            link.href = url;
	            link.download=fileName;
	            link.click();
	            URL.revokeObjectURL(url);
	            link.remove();
			},
			error : function(request, status, error) {
				console.log(request);
				console.log(status);
				console.log(error);
			}
		});
	}
	
	const moveList = () => {
		$("#mainForm").attr("action", "/board/boardList.do");
		gfn_submit('mainForm');
	}
	
	$(function() {
		//XSS 처리를 위한 방법. 서버에서 처리해서 th:text로 해도 되고. thymeleaf가 아닐경우 escape이 자동 처리 되지 않으면 아래와 같이 처리
		$("#bodyText").text(gfn_changeXSS($("#bodyText").text()));
		
	})
	
	</script>
</th:block>

<div layout:fragment="content">
	<div>
		<form action="" method="post" id="mainForm" name="mainForm" onsubmit="return false">
		<div>
			<label for="category">분류</label>
			<select name="category" id="category">
			<option value="" th:selected="category == ''">선택하세요</option>
	        <option th:each="code: ${codeList}" th:value="${code.CODE}" th:text="${code.CODE_NAME}" th:selected="${category == code.CODE}">코드명</option>
			</select>
			<label for="srcTitle">제목</label>
			<input name="srcTitle" id="srcTitle" placeholder="제목입력" th:value="${boardData?.TITLE}"/>
		</div>
		<div style="padding: 10px;"></div>
		<div>
			<label for="bodyText" style="vertical-align: top;">내용</label>
			<textarea name="bodyText" id="bodyText" cols="54" rows="10" placeholder="내용입력" th:text="${boardData?.BODY_TEXT}"></textarea>
		</div>
		<div th:if="${not #strings.isEmpty(boardData?.FILE_NAME)}">
			<!-- span>첨부파일 명 :</span><a href="#" th:text="${boardData?.FILE_NAME}" th:onclick="'javascript:fileDown('+ ${boardData?.FILE_SEQ} + ','+${boardData?.SEQ}+');'" ></a><br-->
			<span>첨부파일 명 :</span><a href="#" th:text="${boardData?.FILE_NAME}" th:href="@{/board/blobFiledown.do (seq=${boardData?.SEQ},fileSeq=${boardData?.FILE_SEQ})}" ></a><br>
			<span>크기:</span><span th:text="${boardData?.FILE_SIZE}" ></span><span th:onclick="fileDown([[${boardData?.SEQ}]],[[${boardData?.FILE_SEQ}]],[[${boardData?.FILE_NAME}]]);" style="cursor: pointer;">Byte</span>
		</div>
		<div th:if="${#strings.isEmpty(boardData?.FILE_NAME)}">
			<label for="srcAddFile">첨부파일</label>
			<input type="file" id="srcAddFile"  />
		</div>
		</form>		
	</div>
	<div style="padding: 10px;"></div>
	<div th:if="${not #lists.isEmpty(commentList)}">
		<div>
			<div style="padding: 1px;"></div>
			<h3>댓글목록</h3>
		</div>
		<div>
			<div th:each="rowData:${commentList}">
				<h4>[[${rowDataStat.count}]]댓글 제목:[[${rowData.TITLE}]]</h4>
				<p>내용:[[${rowData.BODY_TEXT}]]</p>
			</div>
		</div>
	</div>
	<div style="padding: 10px;"></div>
	<div>
		<button th:if="${#strings.isEmpty(paramSeq)}" type="button" id="saveBtn" onclick="javascript:saveData();"><span>저장</span></button>
		<button th:if="${not #strings.isEmpty(paramSeq)}" type="button" id="updateBtn" onclick="javascript:updateData();"><span>수정</span></button>
		<button type="button" id="listBtn" onclick="javascript:moveList();"><span><strong>목록</strong></span></button>
	</div>
</div>
</html>