<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{framework/layout/mainLayOut}">

<head>
	<title>레이아웃</title>
</head>
<th:block layout:fragment="script">
	<script>
	
	$(function() {
		console.log('document.onload()');
	})
	
	function saveData() {
		alert('hi');
	}
	
	</script>
</th:block>
	

<div layout:fragment="content" style="margin:0; padding:0;">
<span>number : <input type="number" name="testNum"/></span><br>
<span>text : <input type="text" name="testText"/></span>
	<div>
		<button type="button" id="saveBtn" onclick="javascript:saveData();"><span>안녕</span></button>
	</div>
</div>
