<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{framework/layout/mainLayOut}">

<head>
	<title>레이아웃</title>
</head>
<th:block layout:fragment="script">
	<script>
	
	$(function() {
		console.log('document.onload()');
	})
	
	function login() {
		$.ajax({
			type : "POST",
			url: "/login/userLogin.do",
			async : true,
			dataType : 'json',
			headers : {"Content-Type" : "application/json"},
			data : JSON.stringify( {'loginId':$("#loginId").val(),'loginPass':$("#loginPass").val()}),
			success : function(result) {
				console.log(result);
				if(result.RESCODE == '0000') {
					location.href="/board/boardList.do";
				} else {
					alert(result.RESMSG);
					return;
				}
			},
			error : function(res) {
				console.log(res.status);
				console.log(res.responseJSON);
				alert(res.RESMSG);
			}
		});		
		
	}
	
	</script>
</th:block>
	

<div layout:fragment="content" style="margin:0; padding:0;">
	<span>아이디 : <input type="text" name="loginId" id="loginId" /></span><br>
	<span>패스 : <input type="password" name="loginPass" id="loginPass" onkeyup="if(window.event.keyCode==13){login()}" /></span>
	<div>
		<button type="button" id="saveBtn" onclick="javascript:login();"><span>안녕</span></button>
	</div>
</div>
