<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="UTF-8">
	<title>레이아웃</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=yes" /> 

	<link th:href="@{/css/base.css}" rel="stylesheet" />

	<script th:src="@{/js/comm/jquery-3.7.1.js}"></script>
	<script th:src="@{/js/comm/siteComm.js}"></script>

	<style th:inline="css" type="text/css">

	</style>



</head>
<body>
<header class="header">
  <div class="header-inner layout">
    <h1 class="header-logo">
      <span onclick="javascript:alert('dd');" style="cursor:pointer;display:block; font-size:26px; ">데모</span>
    </h1>
    <nav class="header-gnb">
      <ul class="gnb-depth-1 ulListNone">
        <li class="depth-1">
          <span class="depth-1-link"><span>1차 메뉴</span></span>
          <div class="depth-item">
            <ul class="gnb-depth-2">
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차2 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
            </ul>
          </div>
        </li>
        <li class="depth-1">
          <span class="depth-1-link"><span>1차 메뉴</span></span>
          <div class="depth-item">
            <ul class="gnb-depth-2">
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차2 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
            </ul>
          </div>
        </li>
        <li class="depth-1">
          <span class="depth-1-link"><span>1차 메뉴</span></span>
          <div class="depth-item">
            <ul class="gnb-depth-2">
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차2 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
            </ul>
          </div>
        </li>
        <li class="depth-1">
          <span class="depth-1-link"><span>1차 메뉴</span></span>
          <div class="depth-item">
            <ul class="gnb-depth-2">
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차2 메뉴</span></li>
              <li class="depth-2" style="cursor:pointer;" onclick="javascript:alert('dd');"><span class="depth-2-link">2차 메뉴</span></li>
            </ul>
          </div>
        </li>      </ul>
    </nav>
    <div class="mobile-gnb">
      <button class="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="sidebar-wrap">
        <div class="sidebar">
          <ul class="gnb-depth-1">
            <li class="depth-1">
              <a href="#" class="depth-1-link"><span>1차 메뉴</span></a>
              <ul class="gnb-depth-2">
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
              </ul>
            </li>
            <li class="depth-1">
              <a href="#" class="depth-1-link"><span>1차 메뉴</span></a>
              <ul class="gnb-depth-2">
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
              </ul>
            </li>
            <li class="depth-1">
              <a href="#" class="depth-1-link"><span>1차 메뉴</span></a>
              <ul class="gnb-depth-2">
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
              </ul>
            </li>
            <li class="depth-1">
              <a href="#" class="depth-1-link"><span>1차 메뉴</span></a>
              <ul class="gnb-depth-2">
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
                <li class="depth-2"><a href="#" class="depth-2-link"><span>2차 메뉴</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<script>


$(function() {
	console.log('document.onload()');
	initGnb();

	const mobileGnb = $('.mobile-gnb');
//	  initMobileGnb(mobileGnb);
})

function initGnb(){

	let gnbMenus = $('.header .header-gnb .gnb-depth-1 .depth-1');
	
	gnbMenus.each(function (index,item) {
		$(item).on("mouseenter focunsin", function(event) {
			$('.header').addClass('open');
			$(".header-inner .header-gnb .depth-1").addClass('current');
			let targetHeight = $(item).find(".gnb-depth-2").height();
			$(item).find(".depth-item").height(targetHeight);
		});		
		$(item).on("mouseleave focusout", function(event) {
			$('.header').removeClass('open');
			$(".header-inner .header-gnb .depth-1").removeClass('current');
			$(item).find(".depth-item").height("0px");
		});		
		
	})

}

//헤더 gnb 스크립트
/*
const header = document.querySelector('.header');
const mobileGnb = document.querySelector('.mobile-gnb');
window.addEventListener('DOMContentLoaded', () => {
  initGnb(header);
  initMobileGnb(mobileGnb);
})

// PC
function initGnb(header){
  let gnb = header.querySelector('.header-gnb');
  let gnbMenus = gnb.querySelectorAll('.gnb-depth-1 .depth-1');

  [...gnbMenus].forEach(menu => {
    menu.addEventListener('mouseenter', (event) => {
      gnbOpen(event.target);
    });
    menu.addEventListener('focusin', (event) => {
      gnbOpen(event.target.closest('.depth-1'));
    });

    menu.addEventListener('mouseleave', (event) => {
      gnbClose(event.target);
    });
    menu.addEventListener('focusout', (event) => {
      gnbClose(event.target.closest('.depth-1'));
    });
  });

  function gnbOpen(target){
    let targetItem = target.querySelector('.depth-item');
    let targetMenu = target.querySelector('.gnb-depth-2');
    let targetHeight = targetMenu.getBoundingClientRect().height;
    header.classList.add('open');
    target.classList.add('current');
    targetItem.style.height = `${targetHeight}px`;
  }

  function gnbClose(target){
    let targetItem = target.querySelector('.depth-item');
    header.classList.remove('open');
    target.classList.remove('current');
    targetItem.style.height = '0px';
  }
}
*/

// Mobile
function initMobileGnb(mobileGnb){
  let html = document.querySelector('html');
  let sidebarButton = mobileGnb.querySelector('.sidebar-btn');
  let mobileMenuButtons = mobileGnb.querySelectorAll('.depth-1 a');

  sidebarButton.addEventListener('click', (event) => {
    if (mobileGnb.classList.contains('open')) {
      mobileGnbClose(mobileGnb);
    } else {
      mobileGnbOpen(mobileGnb);
    }
  });

  mobileMenuButtons.forEach(button => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      const button = event.target.closest('.depth-1-link');
      if (!button) return;
      openAccordion(button);
    });
  })

  window.addEventListener('resize', function(){
    if (window.innerWidth > 1024) {
      mobileGnbClose(mobileGnb);
    }
  });

  function mobileGnbOpen(gnb){
    gnb.classList.add('open');
    html.classList.add('not-scroll');
  }

  function mobileGnbClose(gnb){
    gnb.classList.remove('open');
    html.classList.remove('not-scroll');
  }

  // 모바일 메뉴 아코디언
  function openAccordion($this) {
    let target = $this.parentElement;
    let depthTarget = $this.nextElementSibling;
    if (!depthTarget) return;
    let otherLinks = siblings(target);
    let otherItems = otherLinks.map(link => link.querySelector('ul'));

    if (target.classList.contains('open')){
      target.classList.remove('open');
      depthTarget.style.maxHeight = '0px';
    } else {
      otherLinks.forEach(link => link.classList.remove('open'));
      otherItems.forEach(item => item ? item.style.maxHeight = '0px' : '');
      target.classList.add('open');
      depthTarget.style.maxHeight = depthTarget.scrollHeight + 'px';
    }
  }
}

function siblings(element) {
  return [...element.parentElement.children].filter(value => value != element);
}

</script>
<div style="margin:0; padding:0;">
<span>number : <input type="number" name="testNum"/></span><br>
<span>text : <input type="text" name="testText"/></span>
	<div>
		<button type="button" id="saveBtn" onclick="javascript:saveData();"><span>저장</span></button>
		<button type="button" id="updateBtn" onclick="javascript:updateData();"><span>수정</span></button>
	</div>
</div>
</body>
</html>
