<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>레이아웃</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" /> 

	<link th:href="@{/css/base.css}" rel="stylesheet" />

	<script th:src="@{/js/comm/jquery-3.7.1.js}"></script>
	<script th:src="@{/js/comm/siteComm.js}"></script>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

	<style th:inline="css" type="text/css">
		.div_layout {
			border: 1px solid black;
		}
	</style>

</head>
<body>
	<div>
	    <th:block th:replace="framework/layout/mainHeader :: headerFrag"></th:block>
	
	    <th:block layout:fragment="content"></th:block>
	
	    <th:block th:replace="framework/layout/mainFooter :: footerFrag"></th:block>
    </div>
</body>
</html>
