<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">

<header th:fragment="headerFrag" class="header">
	<div class="header-inner layout">
		<h1 class="header-logo">
			<span onclick="javascript:alert('dd');"	style="cursor: pointer; display: block; font-size: 26px;">데모</span>
		</h1>
		<nav class="header-gnb">
			<ul class="gnb-depth-1 ulListNone">
				<th:block th:each="rowData:${F_menuList}">
					<li class="depth-1" th:if="${rowData.PARENT_URL == '/'}"><span class="depth-1-link"><span>[[${rowData.MENU_NAME}]]</span></span>
						<div class="depth-item" th:with="url=${rowData.URL}">
							<ul class="gnb-depth-2">
								<th:block th:each="rowData2:${F_menuList}">
								<li class="depth-2" style="cursor: pointer;" th:onclick="javascript:movePage([[${rowData2.URL}]])"	th:if="${rowData2.PARENT_URL == url}">
									<span class="depth-2-link">[[${rowData2.MENU_NAME}]] </span>
								</li>
								</th:block>
							</ul>
						</div>
					</li>
				</th:block>
			</ul>
		</nav>
		<div class="mobile-gnb">
			<button class="sidebar-btn">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<div class="sidebar-wrap">
				<div class="sidebar">
					<ul class="gnb-depth-1">
						<th:block th:each="rowData:${F_menuList}">
							<li class="depth-1" th:if="${rowData.PARENT_URL == '/'}"><span class="depth-1-link" style="cursor: pointer;"><span>[[${rowData.MENU_NAME}]]</span></span>
								<ul class="gnb-depth-2" th:with="url=${rowData.URL}">
									<th:block th:each="rowData2:${F_menuList}">
									<li class="depth-2" style="cursor: pointer;" th:onclick="javascript:movePage([[${rowData2.URL}]])" th:if="${rowData2.PARENT_URL == url}">
										<span class="depth-2-link">[[${rowData2.MENU_NAME}]]</span>
									</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
</html>